@use "./vars" as *;
@mixin container-base() {
  width: 100%;
  height: 100%;
}

@mixin flex-box($direction: row) {
  display: flex;
  flex-direction: $direction;
}

@mixin flex-center($direction: row) {
  @include flex-box($direction);
  align-items: center;
  justify-content: center;
}

@mixin icon-style($size: $icon-size-regular, $color: $icon-color-gray) {
  width: $size;
  height: $size;
  fill: $color;
}

@mixin platform-card() {
  @include flex-box(row);
  align-items: center;
  gap: 0.8rem;

  background-color: $secondary-color;
  padding: 0.5rem;
  border-radius: 1.2rem;
  box-shadow: 0.15rem 0.3rem 0.2rem 0rem rgba(0, 0, 0, 0.26);
  transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
  .icon {
    @include icon-style($icon-size-large);
    transition: fill 0.2s ease-out;
  }

  &:hover {
    cursor: pointer;
    background-color: $secondary-color-dark;
    .icon {
      fill: $primary-color;
    }
  }

  &.selected {
    background-color: $secondary-color-dark;
    box-shadow: inset 0.3rem 0.3rem 0.5rem 0.4rem rgba(0, 0, 0, 0.423);
    .icon {
      fill: $primary-color;
    }
  }
}

@mixin pull-animation($offset: 3rem) {
  .pull-enter-from,
  .pull-leave-to {
    opacity: 0;
    transform: translateX($offset);
  }

  .pull-enter-to,
  .pull-leave-from {
    opacity: 1;
    transform: translateX(0);
  }

  .pull-enter-active {
    transition: all 0.15s ease-out;
  }

  .pull-leave-active {
    transition: all 0.15s ease-in;
  }
}

@mixin router-animation($offset: 3rem) {
  .route-enter-from {
    opacity: 0;
    transform: translateY(-$offset);
  }
  .route-leave-to {
    opacity: 0;
    transform: translateY($offset);
  }

  .route-enter-to,
  .route-leave-from {
    opacity: 1;
    transform: translateY(0);
  }

  .route-enter-active {
    transition: all 0.3s ease-out;
  }

  .route-leave-active {
    transition: all 0.3s ease-in;
  }
}

@mixin list-animation() {
  .list-move, /* apply transition to moving elements */
  .list-enter-active,
  .list-leave-active {
    transition: all 0.3s ease;
  }

  .list-enter-from {
    opacity: 0;
    transform: translateX(-3rem);
  }
  .list-enter-to,
  .list-leave-from {
    opacity: 1;
    transform: translateX(0px);
  }
  .list-leave-to {
    opacity: 0;
    transform: translateX(3rem);
  }

  /* ensure leaving items are taken out of layout flow so that moving
     animations can be calculated correctly. */
  .list-leave-active {
    position: absolute;
  }
}

@mixin list-column-animation() {
  .list-move, /* apply transition to moving elements */
  .list-enter-active,
  .list-leave-active {
    transition: all 0.3s ease;
  }

  .list-enter-from {
    opacity: 0;
    transform: translateY(3rem);
  }
  .list-enter-to,
  .list-leave-from {
    opacity: 1;
    transform: translateY(0);
  }
  .list-leave-to {
    opacity: 0;
    transform: translateY(-3rem);
  }

  /* ensure leaving items are taken out of layout flow so that moving
     animations can be calculated correctly. */
  .list-leave-active {
    position: absolute;
  }
}

@mixin form-msg() {
  .form-msg-enter-from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  .form-msg-leave-to {
    opacity: 0;
    transform: translateY(-2rem);
  }

  .form-msg-enter-to,
  .form-msg-leave-from {
    opacity: 1;
    transform: translateY(0);
  }

  .form-msg-enter-active {
    transition: all 0.1s ease-out;
  }

  .form-msg-leave-active {
    transition: all 0.1s ease-in;
  }
}

@mixin fade-icon() {
  .fade-icon-enter-from {
    transform: scale(0);
    opacity: 0;
  }
  .fade-icon-leave-to {
    opacity: 0;
    transform: scale(0);
  }

  .fade-icon-enter-to,
  .fade-icon-leave-from {
    opacity: 1;
    transform: scale(1);
  }

  .fade-icon-enter-active {
    transition: transform 0.1s ease-out, opacity 0.1s ease-out !important;
  }

  .fade-icon-leave-active {
    transition: transform 0.1s ease-out, opacity 0.1s ease-out !important;
  }
}

@mixin fade-animation() {
  .fade-enter-active {
    transition: opacity 0.3s;
  }
  .fade-leave-active {
    position: absolute;
  }
  .fade-enter-from, .fade-leave-to, .fade-leave-from /* .fade-leave-active 在 Vue 2.1.8+ 中 */ {
    opacity: 0;
  }
  .fade-enter-to /* .fade-enter-active 在 Vue 2.1.8+ 中 */ {
    opacity: 1;
  }
}
