/* color-------------------------------------------------------------------------- */
// main
$primary-color: #71e29a;
$secondary-color: #64748b;
$primary-color-dark: #41aa67;
$secondary-color-dark: #334155;

// bg
$background-color-grey: #e8e8e8;
$background-color: #f4f4f4;
$background-color-white: #fff;

// text
$text-color: #555;
$text-secondary-color: #888;
$heading-color: #111;
$link-color: $primary-color;

$muted-text-color: #ccc;
$line-height-regular: 1;

// border
$border-color: #e1e1e1;

/* font -------------------------------------------------------------------------- */
$font-primary: "Lato", Arial, sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 800;

/* z-index -------------------------------------------------------------------------- */
$z-bottom: 1;
$z-middle: 2;
$z-top: 3;
$z-absolute-top: 99;

/* other colors -------------------------------------------------------------------------- */
$red: #f4acb7;
$sidebar-width: 15rem;
$icon-size-regular: 2.6rem;
$icon-size-small: 2.4rem;
$icon-color-grey: #aaa;
